.collabContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    margin-right: 2em;
    font-size: 1.6rem;
    font-weight: bolder;
    line-height: 2em;
  }
}

.collabLogo {
  max-width: 108px;
}

.collabLogoRow {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .collabContainer span {
    margin-right: 1em;
    margin-left: 1em;
  }
}
