.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: start;
}

.middle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 55px;
  margin-top: 5px;
  margin-bottom: 1rem;
}

.right {
  text-align: right;
}

.sourceLink {
  margin-right: 0.5rem;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95% !important;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer {
    text-align: center !important;
  }

  .middle {
    visibility: hidden;
    max-height: 15px;
  }
}
