html {
  overflow-x: scroll;
}

body {
  font-family: 'Crimson Text', sans-serif;
  color: #2f273e;
  font-size: 1.1rem;
  margin: 0px;
}

p {
  text-align: justify;
}

a {
  color: #7e54e7;
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5rem;
}
