.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: center;
}

.navBarLink {
  padding-left: 15px;
  padding-right: 15px;
  color: #2f273e;
  text-decoration: none;
}

.navBarLink:hover {
  color: #69568b;
}

@media screen and (max-width: 600px) {
  .navBarLink {
    width: 100%;
    padding: 0px;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }

  .navBar {
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
