.leadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.leadTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.leadText {
  margin-left: 5%;
  margin-right: 5%;
}

.dateAndPlace {
  margin-bottom: 1.1em;
}

.leadNextYear {
  font-size: 3em;
}