.performersContainer {
  display: flex;
  flex-direction: column;
  width: 47rem;
  max-width: 100%;
}

.performerCard {
  display: flex;
  flex-direction: column;
  background-color: #d5caf29d;
  margin: 2rem;
  padding: 2rem;
}

.performerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  h2 {
    margin-left: 1rem;
  }

  h2:hover {
    color: rgb(117, 117, 117);
    transition: color 0.3s;
  }
}

.performerImage {
  margin-right: 15rem;
  height: 100px;
  border-radius: 100%;
}

.performerButton {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: transparent;
}

.performerButton:hover {
  svg {
    color: rgb(117, 117, 117);
    transition: color 0.3s;
  }
}
