.dayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    border: 0.2rem solid #d5caf29d;
    width: 60%;
  }
}

.programParag {
  width: 60%;
}

.programTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1.5rem;
  h2 {
    margin-right: 1rem;
  }
}
