.dayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  b {
    font-size: 1.3rem;
  }

  hr {
    border: 0.2rem solid #d5caf29d;
    width: 80%;
  }

  div {
    width: 80%;
  }
}

.programTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;

  h2 {
    margin-right: 1rem;
  }

  h2:hover {
    color: rgb(117, 117, 117);
    transition: color 0.3s;
  }
}
