.openingChevron {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.openingChevron:hover {
  svg {
    color: rgb(117, 117, 117);
    transition: color 0.3s;
  }
}

.page {
  text-align: center;
  margin-bottom: 8rem;
  width: 47rem;
  max-width: 100%;
}
