.openingChevron {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.openingChevron:hover {
  svg {
    color: rgb(117, 117, 117);
    transition: color 0.3s;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 47rem;
  max-width: 100%;
  margin-bottom: 4rem;
}

.followNote {
  max-width: 90%;
}
